<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>LOGDEBUG</string>
	<string>LOGWARNING</string>
	<string>LOGINFO</string>
	<string>static</string>
	<string>LOGERROR</string>
	<string>LOGEXCP</string>
	<string>TTLOG</string>
	<string>MYLog</string>
	<string>const</string>
	<string>MMEND</string>
	<string>extern</string>
	<string>context:</string>
	<string>kitchenBringKhama</string>
	<string>scenicGetOwn</string>
	<string>OptGorgeousdrinkssupport</string>
	<string>AfricastarChobeOwngrabbed</string>
	<string>MaunwonderfulwonderfulKhamavalue</string>
	<string>callNative</string>
	<string>get_system_info</string>
	<string>get_user_info</string>
	<string>get_token</string>
	<string>get_star_info</string>
	<string>close</string>
	<string>show_message</string>
	<string>refresh</string>
	<string>is_login</string>
	<string>redirect_login</string>
	<string>callNative</string>
	<string>redirect_register</string>
	<string>open_share</string>
	<string>callNative</string>
</array>
</plist>
