<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>All</string>
	<string>Alike</string>
	<string>Account</string>
	<string>Accuracy</string>
	<string>April</string>
	<string>From</string>
	<string>Generate</string>
	<string>Audiences</string>
	<string>Physical</string>
	<string>Sensation</string>
	<string>Sounds</string>
	<string>Versa</string>
	<string>Ordered</string>
	<string>South</string>
	<string>Process</string>
	<string>However</string>
	<string>Africa</string>
	<string>Filters</string>
	<string>Which</string>
	<string>Scale</string>
	<string>Attribute</string>
	<string>Large</string>
	<string>Bioregion</string>
	<string>Second</string>
	<string>Nature</string>
	<string>Context</string>
	<string>Smith</string>
	<string>Regional</string>
	<string>Geological</string>
	<string>Bioregion</string>
	<string>Geography</string>
	<string>Nature</string>
	<string>Zoogeography</string>
	<string>Terms</string>
	<string>Influence</string>
	<string>Discrete</string>
	<string>Oceans</string>
	<string>Plains</string>
	<string>Masses</string>
	<string>Concept</string>
	<string>Studies</string>
	<string>Jurisdiction</string>
	<string>Propose</string>
	<string>Evoked</string>
	<string>Data</string>
	<string>Remove</string>
	<string>Small</string>
	<string>Times</string>
	<string>Armed</string>
	<string>Bind</string>
	<string>Telecasts</string>
	<string>Destination</string>
	<string>Hierarchical</string>
	<string>Structure</string>
	<string>Royal</string>
	<string>Form</string>
	<string>During</string>
	<string>War</string>
	<string>Rule</string>
	<string>People</string>
	<string>Man</string>
	<string>First</string>
	<string>Second</string>
	<string>Third</string>
	<string>Hey</string>
	<string>Sun</string>
	<string>Summer</string>
	<string>Version</string>
	<string>Ipa</string>
	<string>String</string>
	<string>PPT</string>
	<string>Bundle</string>
	<string>Mix</string>
	<string>Project</string>
	<string>Speed</string>
	<string>Zeplin</string>
	<string>Together</string>
	<string>Hospitals</string>
	<string>Amount</string>
	<string>Watt</string>
	<string>Standard</string>
	<string>Power</string>
	<string>Group</string>
	<string>Whole</string>
	<string>Series</string>
	<string>Earth</string>
	<string>Supports</string>
	<string>Nations</string>
	<string>Brigadier</string>
	<string>Doctor</string>
	<string>Auspices</string>
	<string>Win</string>
	<string>UNIT</string>
	<string>This</string>
	<string>Name</string>
	<string>Been</string>
	<string>Full</string>
	<string>Apply</string>
	<string>East</string>
	<string>Word</string>
	<string>And</string>
	<string>Prime</string>
	<string>Tor</string>
	<string>Mac</string>
	<string>Linux</string>
</array>
</plist>
