<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SystemFunction</key>
	<array>
		<string>dealloc</string>
		<string>loadView</string>
		<string>viewDidLoad</string>
		<string>viewDidAppear</string>
		<string>viewWillAppear</string>
		<string>viewWillDisappear</string>
		<string>viewDidDisappear</string>
		<string>didReceiveMemoryWarning</string>
		<string>set</string>
		<string>init</string>
		<string>updateViewConstraints</string>
		<string>observeValueForKeyPath</string>
		<string>awakeFromNib</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>System_UIView</key>
	<array>
		<string>drawRect</string>
		<string>setNeedsDisplay</string>
		<string>layoutSubviews</string>
		<string>layoutIfNeeded</string>
		<string>setNeedsLayout</string>
		<string>willMoveTo</string>
		<string>didMoveTo</string>
		<string>willRemoveSubview</string>
		<string>didAddSubview</string>
		<string>layoutMarginsDidChange</string>
		<string>safeAreaInsetsDidChange</string>
		<string>tintColorDidChange</string>
		<string>updateConstraints</string>
		<string>intrinsicContentSize</string>
		<string>encodeRestorableStateWithCoder</string>
		<string>decodeRestorableStateWithCoder</string>
		<string>exerciseAmbiguityInLayout</string>
		<string>removeLayoutGuide</string>
		<string>addLayoutGuide</string>
		<string>setContentCompressionResistancePriority</string>
		<string>sizeToFit</string>
		<string>removeFromSuperview</string>
		<string>insertSubview</string>
		<string>exchangeSubviewAtIndex</string>
		<string>addSubview</string>
		<string>bringSubviewToFront</string>
		<string>sendSubviewToBack</string>
		<string>addGestureRecognizer</string>
		<string>removeGestureRecognizer</string>
		<string>addMotionEffect</string>
		<string>removeMotionEffect</string>
		<string>addConstraint</string>
		<string>removeConstraint</string>
		<string>needsUpdateConstraints</string>
		<string>addLayoutGuide</string>
		<string>invalidateIntrinsicContentSize</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>HyBird</key>
	<array>
		<string>loadUrl</string>
		<string>callHandler</string>
		<string>addJavascriptObject</string>
		<string>removeJavascriptObject</string>
		<string>hasJavascriptMethod</string>
		<string>disableJavascriptDialogBlock</string>
		<string>customJavascriptDialogLabelTitles</string>
		<string>onMessage</string>
	</array>
	<key>Delegate</key>
	<array>
		<string>application</string>
		<string>webView</string>
		<string>alertView</string>
		<string>productsRequest</string>
		<string>request</string>
		<string>tableView</string>
		<string>indexPathForPreferredFocusedViewInTableView</string>
		<string>paymentQueue</string>
		<string>numberOfSectionsInTableView</string>
		<string>sectionIndexTitlesForTableView</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
</dict>
</plist>
