<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Paradise</string>
	<string>Eternity</string>
	<string>Fantastic</string>
	<string>Destiny</string>
	<string>Cherish</string>
	<string>Chobe</string>
	<string>Gorgeous</string>
	<string>Sunshine</string>
	<string>Freedom</string>
	<string>view</string>
	<string>parks</string>
	<string>few</string>
	<string>option</string>
	<string>Grace</string>
	<string>your</string>
	<string>Price</string>
	<string>Bring</string>
	<string>trip</string>
	<string>Blossom</string>
	<string>Blue</string>
	<string>Dinner</string>
	<string>Tranquillity</string>
	<string>Sunflower</string>
	<string>drinks</string>
	<string>Liberty</string>
	<string>start</string>
	<string>Africa</string>
	<string>Own</string>
	<string>Get</string>
	<string>process</string>
	<string>Victoria</string>
	<string>My</string>
	<string>and</string>
	<string>booking</string>
	<string>option</string>
	<string>Falls</string>
	<string>Twinkle</string>
	<string>online</string>
	<string>Room</string>
	<string>hippos</string>
	<string>beautiful</string>
	<string>Victoria</string>
	<string>water</string>
	<string>locals</string>
	<string>Meals</string>
	<string>Lunch</string>
	<string>Club</string>
	<string>Khama</string>
	<string>Opt</string>
	<string>Falls</string>
	<string>flight</string>
	<string>Exclusive</string>
	<string>Sing</string>
	<string>mokoro</string>
	<string>Arrive</string>
	<string>kitchen</string>
	<string>sentiment</string>
	<string>Relax</string>
	<string>avg</string>
	<string>mode</string>
	<string>Scott</string>
	<string>campfire</string>
	<string>grabbed</string>
	<string>Sarah</string>
	<string>safety</string>
	<string>faced</string>
	<string>federal</string>
	<string>sure</string>
	<string>scenic</string>
	<string>public</string>
	<string>Maun</string>
	<string>those</string>
	<string>refractory</string>
	<string>safe</string>
	<string>support</string>
	<string>Leave</string>
	<string>star</string>
	<string>many</string>
	<string>value</string>
	<string>Max</string>
	<string>group</string>
	<string>angel</string>
	<string>angel</string>
	<string>wonderful</string>
	<string>swee</string>
	<string>infinity</string>
	<string>theart</string>
	<string>my</string>
	<string>Baby</string>
	<string>light</string>
	<string>Dilemma</string>
	<string>You</string>
	<string>blue</string>
</array>
</plist>
