<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>four</string>
	<string>eight</string>
	<string>cache</string>
	<string>name</string>
	<string>cornerRadius</string>
	<string>reuseIdentifier</string>
	<string>lineHeight</string>
	<string>topMargin</string>
	<string>cellCount</string>
	<string>titles</string>
	<string>manager</string>
	<string>typeEncoding</string>
	<string>source</string>
	<string>types</string>
	<string>cellMargin</string>
	<string>cellHeight</string>
	<string>on</string>
	<string>margin</string>
	<string>kCallNativeName</string>
	<string>ACTION_GET_SYS_INFO</string>
	<string>ACTION_GET_USER_INFO</string>
	<string>ACTION_GET_ACCESS_TOKEN</string>
	<string>ACTION_GET_STAR_INFO</string>
	<string>ACTION_SHOW_MESSAGE</string>
	<string>ACTION_CLOSE</string>
	<string>ACTION_GOTO_SHARE</string>
	<string>ACTION_REFRESH</string>
	<string>ACTION_GOTO_REGISTER</string>
	<string>ACTION_IS_LOGIN</string>
	<string>ACTION_GOTO_LOGIN</string>
</array>
</plist>
