<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>four</string>
	<string>eight</string>
	<string>cache</string>
	<string>name</string>
	<string>cornerRadius</string>
	<string>reuseIdentifier</string>
	<string>lineHeight</string>
	<string>topMargin</string>
	<string>cellCount</string>
	<string>titles</string>
	<string>manager</string>
	<string>typeEncoding</string>
	<string>source</string>
	<string>types</string>
	<string>cellMargin</string>
	<string>cellHeight</string>
	<string>on</string>
	<string>margin</string>
</array>
</plist>
